
#all{
    background-repeat: no-repeat;
    text-align: center;
    background-size:1280px 720px ;


}
.title{
    text-align: center;
    /* font-style: 20px  solid rgb(145, 73, 73); */
    font-family: cursive  ;
    font-weight: bolder ;
    color: rgb(166, 165, 179);
    
    
}
.parent{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    height: 350px;
    border: 2px solid gold;
    background-color:rgb(43, 75, 117);
    opacity: 0.5;
    margin: 5%;


}
.parent div{
/* display: grid; */
/* flex-wrap:wrap; */
/* flex-direction: row; */
box-sizing: border-box;
width: 200px; 
height: 100px;
margin: 4px;
background-color: gray;

}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    font-size: 30px;
    padding: 16px 40px;
    font-family: cursive  ;
    text-align: center;
    cursor: pointer;
    
  }
  
.button1:hover {
    background-color: #4CAF50;
    color: white;}

.playerX{
    background-image:url(cross.png);
    background-size:100px 70px;
   background-repeat:no-repeat;
   background-position:center;
}

.playerO{
    background-image:url(circle.png);
    background-size:100px 70px;
    background-repeat:no-repeat;
    background-position:center;
}